dentist-ai-appointment-agent.json
{
    "name": "🦷 Dentist AI Call Appointment Agent - Advanced",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "dentist-call",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "📞 Webhook - Call Received",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "dentist-call-webhook"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Dr. Ahmed Dental Care's AI appointment assistant. You speak in a friendly, professional manner in both Urdu and English (Roman Urdu).\\n\\nYour job is to:\\n1. Greet the patient warmly\\n2. Understand their dental needs\\n3. Extract appointment details\\n4. Confirm the booking\\n\\nFrom the conversation, extract:\\n- patient_name: Full name of the patient\\n- phone_number: Contact number (format: 03XXXXXXXXX)\\n- appointment_type: One of [checkup, cleaning, filling, extraction, root_canal, braces, whitening, emergency, consultation]\\n- preferred_date: Date in YYYY-MM-DD format\\n- preferred_time: Time in HH:MM format (24-hour)\\n- urgency: One of [normal, urgent, emergency]\\n- notes: Any additional notes or symptoms mentioned\\n- is_new_patient: true/false\\n- language_preference: urdu/english/roman_urdu\\n\\nRespond ONLY in valid JSON format with these exact keys. If any field is missing, use null.\\n\\nExample response:\\n{\\n  \\\"patient_name\\\": \\\"Ali Ahmed\\\",\\n  \\\"phone_number\\\": \\\"03012345678\\\",\\n  \\\"appointment_type\\\": \\\"checkup\\\",\\n  \\\"preferred_date\\\": \\\"2024-01-15\\\",\\n  \\\"preferred_time\\\": \\\"15:00\\\",\\n  \\\"urgency\\\": \\\"normal\\\",\\n  \\\"notes\\\": \\\"Patient mentioned tooth sensitivity\\\",\\n  \\\"is_new_patient\\\": true,\\n  \\\"language_preference\\\": \\\"roman_urdu\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.text || $json.transcript || $json.message }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {}
            },
            "id": "openai-extract",
            "name": "🤖 AI - Extract Patient Info",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "your-openai-credential-id",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse OpenAI response and extract patient data\nconst response = $input.first().json;\nlet patientData;\n\ntry {\n  // Handle OpenAI response structure\n  if (response.choices && response.choices[0] && response.choices[0].message) {\n    patientData = JSON.parse(response.choices[0].message.content);\n  } else if (response.body && response.body.choices) {\n    patientData = JSON.parse(response.body.choices[0].message.content);\n  } else {\n    patientData = response;\n  }\n} catch (e) {\n  patientData = {\n    error: 'Failed to parse AI response',\n    raw_response: response\n  };\n}\n\n// Add timestamp and booking reference\nconst now = new Date();\nconst bookingRef = 'DAC-' + now.getFullYear() + \n  String(now.getMonth() + 1).padStart(2, '0') + \n  String(now.getDate()).padStart(2, '0') + '-' + \n  String(now.getHours()).padStart(2, '0') + \n  String(now.getMinutes()).padStart(2, '0') + \n  String(now.getSeconds()).padStart(2, '0');\n\n// Calculate end time (30 min for regular, 60 min for complex procedures)\nlet appointmentDuration = 30;\nconst complexProcedures = ['root_canal', 'extraction', 'braces'];\nif (complexProcedures.includes(patientData.appointment_type)) {\n  appointmentDuration = 60;\n}\n\nlet endTime = null;\nif (patientData.preferred_time) {\n  const [hours, minutes] = patientData.preferred_time.split(':').map(Number);\n  const endMinutes = (hours * 60 + minutes + appointmentDuration) % 1440;\n  endTime = String(Math.floor(endMinutes / 60)).padStart(2, '0') + ':' + \n            String(endMinutes % 60).padStart(2, '0');\n}\n\nreturn {\n  json: {\n    ...patientData,\n    booking_reference: bookingRef,\n    created_at: now.toISOString(),\n    appointment_end_time: endTime,\n    appointment_duration: appointmentDuration,\n    status: 'pending',\n    clinic_name: 'Dr. Ahmed Dental Care',\n    clinic_address: 'Main Boulevard, Gulberg III, Lahore',\n    clinic_phone: '042-35761234'\n  }\n};"
            },
            "id": "code-parse",
            "name": "⚙️ Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "appointment-check",
                            "leftValue": "={{ $json.appointment_type }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        },
                        {
                            "id": "date-check",
                            "leftValue": "={{ $json.preferred_date }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-appointment",
            "name": "🔀 Is Valid Appointment?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                920,
                300
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "returnAll": false,
                "limit": 50,
                "options": {
                    "timeMax": "={{ $json.preferred_date }}T23:59:59Z",
                    "timeMin": "={{ $json.preferred_date }}T00:00:00Z"
                }
            },
            "id": "gcal-check",
            "name": "📅 Check Calendar Availability",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.2,
            "position": [
                1140,
                180
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "your-google-calendar-credential-id",
                    "name": "Google Calendar"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Check if the preferred time slot is available\nconst items = $input.all();\nconst patientData = $('⚙️ Parse AI Response').first().json;\n\nconst preferredDate = patientData.preferred_date;\nconst preferredTime = patientData.preferred_time;\nconst duration = patientData.appointment_duration || 30;\n\n// Parse preferred time\nconst [prefHours, prefMinutes] = preferredTime.split(':').map(Number);\nconst preferredStart = new Date(`${preferredDate}T${preferredTime}:00`);\nconst preferredEnd = new Date(preferredStart.getTime() + duration * 60000);\n\nlet isAvailable = true;\nlet conflictingEvent = null;\n\n// Check each existing event for conflicts\nfor (const item of items) {\n  if (item.json.start && item.json.end) {\n    const eventStart = new Date(item.json.start.dateTime || item.json.start.date);\n    const eventEnd = new Date(item.json.end.dateTime || item.json.end.date);\n    \n    // Check for overlap\n    if (preferredStart < eventEnd && preferredEnd > eventStart) {\n      isAvailable = false;\n      conflictingEvent = item.json.summary;\n      break;\n    }\n  }\n}\n\n// Suggest alternative times if not available\nlet suggestedTimes = [];\nif (!isAvailable) {\n  const alternatives = ['09:00', '10:00', '11:00', '14:00', '15:00', '16:00', '17:00'];\n  for (const time of alternatives) {\n    if (time !== preferredTime) {\n      suggestedTimes.push(time);\n    }\n  }\n}\n\nreturn {\n  json: {\n    ...patientData,\n    is_slot_available: isAvailable,\n    conflicting_event: conflictingEvent,\n    suggested_alternative_times: suggestedTimes.slice(0, 3)\n  }\n};"
            },
            "id": "code-availability",
            "name": "⏰ Check Time Slot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1360,
                180
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "slot-available",
                            "leftValue": "={{ $json.is_slot_available }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-slot-available",
            "name": "🔀 Slot Available?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1580,
                180
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "summary": "=🦷 {{ $json.appointment_type | capitalize }} - {{ $json.patient_name }}",
                "start": "={{ $json.preferred_date }}T{{ $json.preferred_time }}:00",
                "end": "={{ $json.preferred_date }}T{{ $json.appointment_end_time }}:00",
                "additionalFields": {
                    "attendees": [],
                    "color": "9",
                    "description": "=📋 DENTAL APPOINTMENT DETAILS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n👤 Patient: {{ $json.patient_name }}\n📞 Phone: {{ $json.phone_number }}\n🦷 Type: {{ $json.appointment_type }}\n⏱️ Duration: {{ $json.appointment_duration }} minutes\n📌 Ref: {{ $json.booking_reference }}\n\n📝 Notes: {{ $json.notes || 'No additional notes' }}\n\n👥 New Patient: {{ $json.is_new_patient ? 'Yes' : 'No' }}\n🚨 Urgency: {{ $json.urgency }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🏥 Dr. Ahmed Dental Care",
                    "location": "Dr. Ahmed Dental Care, Main Boulevard, Gulberg III, Lahore",
                    "sendUpdates": "all"
                },
                "options": {}
            },
            "id": "gcal-create",
            "name": "✅ Create Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.2,
            "position": [
                1800,
                60
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "your-google-calendar-credential-id",
                    "name": "Google Calendar"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "your-google-sheet-id",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Appointments",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Booking Reference": "={{ $('⚙️ Parse AI Response').first().json.booking_reference }}",
                        "Patient Name": "={{ $('⚙️ Parse AI Response').first().json.patient_name }}",
                        "Phone Number": "={{ $('⚙️ Parse AI Response').first().json.phone_number }}",
                        "Appointment Type": "={{ $('⚙️ Parse AI Response').first().json.appointment_type }}",
                        "Date": "={{ $('⚙️ Parse AI Response').first().json.preferred_date }}",
                        "Time": "={{ $('⚙️ Parse AI Response').first().json.preferred_time }}",
                        "Duration (mins)": "={{ $('⚙️ Parse AI Response').first().json.appointment_duration }}",
                        "Urgency": "={{ $('⚙️ Parse AI Response').first().json.urgency }}",
                        "Notes": "={{ $('⚙️ Parse AI Response').first().json.notes }}",
                        "New Patient": "={{ $('⚙️ Parse AI Response').first().json.is_new_patient }}",
                        "Status": "Confirmed",
                        "Created At": "={{ $('⚙️ Parse AI Response').first().json.created_at }}",
                        "Calendar Event ID": "={{ $json.id }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "Booking Reference",
                            "displayName": "Booking Reference",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Patient Name",
                            "displayName": "Patient Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Phone Number",
                            "displayName": "Phone Number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Appointment Type",
                            "displayName": "Appointment Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Date",
                            "displayName": "Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Time",
                            "displayName": "Time",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Duration (mins)",
                            "displayName": "Duration (mins)",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Urgency",
                            "displayName": "Urgency",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Notes",
                            "displayName": "Notes",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "New Patient",
                            "displayName": "New Patient",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "boolean",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Status",
                            "displayName": "Status",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Created At",
                            "displayName": "Created At",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "Calendar Event ID",
                            "displayName": "Calendar Event ID",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "gsheet-save",
            "name": "📊 Save to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                2020,
                60
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "your-google-sheets-credential-id",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "from": "your-twilio-phone-number",
                "to": "={{ $('⚙️ Parse AI Response').first().json.phone_number }}",
                "message": "=🦷 Dr. Ahmed Dental Care\n━━━━━━━━━━━━━━━━━━━━\n\nAssalam-o-Alaikum {{ $('⚙️ Parse AI Response').first().json.patient_name }}! 🌟\n\n✅ Apki appointment CONFIRMED ho gayi hai!\n\n📅 Date: {{ $('⚙️ Parse AI Response').first().json.preferred_date }}\n⏰ Time: {{ $('⚙️ Parse AI Response').first().json.preferred_time }}\n🦷 Type: {{ $('⚙️ Parse AI Response').first().json.appointment_type }}\n📌 Ref: {{ $('⚙️ Parse AI Response').first().json.booking_reference }}\n\n📍 Location:\nMain Boulevard, Gulberg III, Lahore\n\n📞 Contact: 042-35761234\n\n⚠️ Please 15 min pehle aa jayein\n💳 Cash/Card dono accepted hain\n\nShukriya! 🙏\n━━━━━━━━━━━━━━━━━━━━"
            },
            "id": "twilio-patient-sms",
            "name": "📱 SMS to Patient",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                2240,
                60
            ],
            "credentials": {
                "twilioApi": {
                    "id": "your-twilio-credential-id",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "from": "your-twilio-phone-number",
                "to": "clinic-staff-phone-number",
                "message": "=🔔 NEW APPOINTMENT BOOKED!\n━━━━━━━━━━━━━━━━━━━━\n\n👤 Patient: {{ $('⚙️ Parse AI Response').first().json.patient_name }}\n📞 Phone: {{ $('⚙️ Parse AI Response').first().json.phone_number }}\n\n📅 {{ $('⚙️ Parse AI Response').first().json.preferred_date }}\n⏰ {{ $('⚙️ Parse AI Response').first().json.preferred_time }}\n\n🦷 {{ $('⚙️ Parse AI Response').first().json.appointment_type }}\n⏱️ {{ $('⚙️ Parse AI Response').first().json.appointment_duration }} mins\n🚨 Urgency: {{ $('⚙️ Parse AI Response').first().json.urgency }}\n\n📝 {{ $('⚙️ Parse AI Response').first().json.notes || 'No notes' }}\n\n📌 Ref: {{ $('⚙️ Parse AI Response').first().json.booking_reference }}"
            },
            "id": "twilio-staff-sms",
            "name": "📢 SMS to Staff",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                2460,
                60
            ],
            "credentials": {
                "twilioApi": {
                    "id": "your-twilio-credential-id",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Appointment booked successfully!\",\n  \"booking_reference\": \"{{ $('⚙️ Parse AI Response').first().json.booking_reference }}\",\n  \"appointment\": {\n    \"patient_name\": \"{{ $('⚙️ Parse AI Response').first().json.patient_name }}\",\n    \"date\": \"{{ $('⚙️ Parse AI Response').first().json.preferred_date }}\",\n    \"time\": \"{{ $('⚙️ Parse AI Response').first().json.preferred_time }}\",\n    \"type\": \"{{ $('⚙️ Parse AI Response').first().json.appointment_type }}\",\n    \"duration_minutes\": {{ $('⚙️ Parse AI Response').first().json.appointment_duration }}\n  },\n  \"clinic\": {\n    \"name\": \"Dr. Ahmed Dental Care\",\n    \"address\": \"Main Boulevard, Gulberg III, Lahore\",\n    \"phone\": \"042-35761234\"\n  },\n  \"confirmation_sent\": true\n}",
                "options": {}
            },
            "id": "respond-success",
            "name": "✅ Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2680,
                60
            ]
        },
        {
            "parameters": {
                "from": "your-twilio-phone-number",
                "to": "={{ $('⚙️ Parse AI Response').first().json.phone_number }}",
                "message": "=🦷 Dr. Ahmed Dental Care\n━━━━━━━━━━━━━━━━━━━━\n\nAssalam-o-Alaikum {{ $('⏰ Check Time Slot').first().json.patient_name }}! 🌟\n\n⚠️ Maaf kijiye, {{ $('⏰ Check Time Slot').first().json.preferred_time }} ka slot available nahi hai.\n\n🕐 Alternative Times:\n{{ $('⏰ Check Time Slot').first().json.suggested_alternative_times.join('\\n') }}\n\nPlease dubara call karein ya reply karein apna preferred time ke saath.\n\n📞 Contact: 042-35761234\n\nShukriya! 🙏\n━━━━━━━━━━━━━━━━━━━━"
            },
            "id": "twilio-unavailable",
            "name": "📱 Slot Unavailable SMS",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1800,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "your-twilio-credential-id",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"Requested time slot is not available\",\n  \"requested_slot\": {\n    \"date\": \"{{ $('⏰ Check Time Slot').first().json.preferred_date }}\",\n    \"time\": \"{{ $('⏰ Check Time Slot').first().json.preferred_time }}\"\n  },\n  \"suggested_alternatives\": {{ JSON.stringify($('⏰ Check Time Slot').first().json.suggested_alternative_times) }},\n  \"action_required\": \"Please call back or reply with an alternative time\"\n}",
                "options": {}
            },
            "id": "respond-unavailable",
            "name": "⚠️ Unavailable Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2020,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"Could not extract complete appointment details from the conversation\",\n  \"extracted_data\": {\n    \"patient_name\": \"{{ $('⚙️ Parse AI Response').first().json.patient_name || 'not provided' }}\",\n    \"phone_number\": \"{{ $('⚙️ Parse AI Response').first().json.phone_number || 'not provided' }}\",\n    \"appointment_type\": \"{{ $('⚙️ Parse AI Response').first().json.appointment_type || 'not provided' }}\",\n    \"preferred_date\": \"{{ $('⚙️ Parse AI Response').first().json.preferred_date || 'not provided' }}\",\n    \"preferred_time\": \"{{ $('⚙️ Parse AI Response').first().json.preferred_time || 'not provided' }}\"\n  },\n  \"missing_fields\": [],\n  \"action_required\": \"Please provide complete appointment details including date and appointment type\",\n  \"clinic_info\": {\n    \"name\": \"Dr. Ahmed Dental Care\",\n    \"phone\": \"042-35761234\",\n    \"hours\": \"Mon-Sat: 9AM-8PM, Sun: Closed\",\n    \"services\": [\"Checkup\", \"Cleaning\", \"Filling\", \"Extraction\", \"Root Canal\", \"Braces\", \"Whitening\"]\n  }\n}",
                "options": {}
            },
            "id": "respond-incomplete",
            "name": "❌ Incomplete Data Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1140,
                420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🦷 New Dental Appointment Booked!\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Patient:*\\n{{ $('⚙️ Parse AI Response').first().json.patient_name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Phone:*\\n{{ $('⚙️ Parse AI Response').first().json.phone_number }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Date:*\\n{{ $('⚙️ Parse AI Response').first().json.preferred_date }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Time:*\\n{{ $('⚙️ Parse AI Response').first().json.preferred_time }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Type:*\\n{{ $('⚙️ Parse AI Response').first().json.appointment_type }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Duration:*\\n{{ $('⚙️ Parse AI Response').first().json.appointment_duration }} mins\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"📌 Ref: {{ $('⚙️ Parse AI Response').first().json.booking_reference }} | 🚨 {{ $('⚙️ Parse AI Response').first().json.urgency }}\"\n        }\n      ]\n    }\n  ]\n}",
                "options": {}
            },
            "id": "slack-notification",
            "name": "💬 Slack Notification (Optional)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2460,
                -80
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "emergency-check",
                            "leftValue": "={{ $('⚙️ Parse AI Response').first().json.urgency }}",
                            "rightValue": "emergency",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-emergency",
            "name": "🚨 Is Emergency?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2240,
                -100
            ]
        },
        {
            "parameters": {
                "from": "your-twilio-phone-number",
                "to": "dentist-emergency-phone-number",
                "message": "=🚨 EMERGENCY DENTAL CASE!\n━━━━━━━━━━━━━━━━━━━━\n\n👤 Patient: {{ $('⚙️ Parse AI Response').first().json.patient_name }}\n📞 Phone: {{ $('⚙️ Parse AI Response').first().json.phone_number }}\n\n📅 {{ $('⚙️ Parse AI Response').first().json.preferred_date }}\n⏰ {{ $('⚙️ Parse AI Response').first().json.preferred_time }}\n\n📝 {{ $('⚙️ Parse AI Response').first().json.notes }}\n\n⚠️ IMMEDIATE ATTENTION REQUIRED!\n📌 Ref: {{ $('⚙️ Parse AI Response').first().json.booking_reference }}"
            },
            "id": "twilio-emergency",
            "name": "🚨 Emergency SMS to Doctor",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                2460,
                -200
            ],
            "credentials": {
                "twilioApi": {
                    "id": "your-twilio-credential-id",
                    "name": "Twilio API"
                }
            }
        }
    ],
    "connections": {
        "📞 Webhook - Call Received": {
            "main": [
                [
                    {
                        "node": "🤖 AI - Extract Patient Info",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🤖 AI - Extract Patient Info": {
            "main": [
                [
                    {
                        "node": "⚙️ Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⚙️ Parse AI Response": {
            "main": [
                [
                    {
                        "node": "🔀 Is Valid Appointment?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Is Valid Appointment?": {
            "main": [
                [
                    {
                        "node": "📅 Check Calendar Availability",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "❌ Incomplete Data Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📅 Check Calendar Availability": {
            "main": [
                [
                    {
                        "node": "⏰ Check Time Slot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "⏰ Check Time Slot": {
            "main": [
                [
                    {
                        "node": "🔀 Slot Available?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔀 Slot Available?": {
            "main": [
                [
                    {
                        "node": "✅ Create Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "📱 Slot Unavailable SMS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Create Calendar Event": {
            "main": [
                [
                    {
                        "node": "📊 Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Save to Google Sheets": {
            "main": [
                [
                    {
                        "node": "📱 SMS to Patient",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "🚨 Is Emergency?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📱 SMS to Patient": {
            "main": [
                [
                    {
                        "node": "📢 SMS to Staff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📢 SMS to Staff": {
            "main": [
                [
                    {
                        "node": "✅ Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📱 Slot Unavailable SMS": {
            "main": [
                [
                    {
                        "node": "⚠️ Unavailable Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🚨 Is Emergency?": {
            "main": [
                [
                    {
                        "node": "🚨 Emergency SMS to Doctor",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "💬 Slack Notification (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "versionId": "1",
    "meta": {
        "templateId": "dentist-ai-agent-advanced",
        "instanceId": "custom-build"
    },
    "tags": [
        {
            "name": "Dental",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        },
        {
            "name": "AI Agent",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        },
        {
            "name": "Appointment",
            "createdAt": "2024-01-01T00:00:00.000Z",
            "updatedAt": "2024-01-01T00:00:00.000Z"
        }
    ],
    "pinData": {},
    "id": "dentist-ai-agent-v1",
    "staticData": null
}