dentist-ai-whatsapp-agent.json
{
    "name": "Dentist AI Agent - WhatsApp Version",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "1",
            "name": "VAPI Call Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                260,
                300
            ],
            "webhookId": "vapi-webhook"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst messageType = input.message?.type || input.type || 'unknown';\n\nreturn {\n  json: {\n    event_type: messageType,\n    raw_data: input\n  }\n};"
            },
            "id": "2",
            "name": "Identify Event Type",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.event_type }}",
                            "value2": "end-of-call-report",
                            "operation": "equals"
                        }
                    ]
                }
            },
            "id": "3",
            "name": "Is Call Ended",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json.raw_data;\nconst message = input.message || input;\nconst call = message.call || {};\nconst analysis = message.analysis || {};\nconst structuredData = analysis.structuredData || {};\nconst transcript = message.transcript || '';\nconst recordingUrl = message.recordingUrl || '';\n\nconst now = new Date();\nconst bookingRef = 'DAC-' + now.getFullYear() + String(now.getMonth() + 1).padStart(2, '0') + String(now.getDate()).padStart(2, '0') + '-' + String(Math.floor(Math.random() * 10000)).padStart(4, '0');\n\nconst complexTypes = ['root_canal', 'extraction', 'braces'];\nconst appointmentType = structuredData.appointment_type || '';\nconst duration = complexTypes.some(t => appointmentType.toLowerCase().includes(t)) ? 60 : 30;\n\nlet endTime = '';\nif (structuredData.preferred_time) {\n  const parts = structuredData.preferred_time.split(':');\n  const hours = parseInt(parts[0]);\n  const minutes = parseInt(parts[1] || 0);\n  const totalMinutes = hours * 60 + minutes + duration;\n  endTime = String(Math.floor(totalMinutes / 60) % 24).padStart(2, '0') + ':' + String(totalMinutes % 60).padStart(2, '0');\n}\n\n// Format phone number for WhatsApp (remove + and spaces)\nlet phoneNumber = call.customer?.number || structuredData.phone_number || '';\nphoneNumber = phoneNumber.replace(/[^0-9]/g, '');\nif (phoneNumber.startsWith('0')) {\n  phoneNumber = '92' + phoneNumber.substring(1);\n}\n\nreturn {\n  json: {\n    call_id: call.id || '',\n    phone_number: phoneNumber,\n    phone_number_formatted: '+' + phoneNumber,\n    call_duration_seconds: message.durationSeconds || 0,\n    recording_url: recordingUrl,\n    transcript: transcript,\n    patient_name: structuredData.patient_name || '',\n    appointment_type: appointmentType,\n    preferred_date: structuredData.preferred_date || '',\n    preferred_time: structuredData.preferred_time || '',\n    end_time: endTime,\n    duration_minutes: duration,\n    urgency: structuredData.urgency || 'normal',\n    symptoms: structuredData.symptoms || '',\n    is_booking: structuredData.is_booking || false,\n    booking_reference: bookingRef,\n    created_at: now.toISOString(),\n    status: 'pending'\n  }\n};"
            },
            "id": "4",
            "name": "Process Call Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                920,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.is_booking }}",
                            "value2": true
                        }
                    ],
                    "string": [
                        {
                            "value1": "={{ $json.patient_name }}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{ $json.preferred_date }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                },
                "combineOperation": "all"
            },
            "id": "5",
            "name": "Valid Booking Data",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1140,
                200
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "operation": "getAll",
                "calendar": "primary",
                "returnAll": false,
                "limit": 20,
                "options": {
                    "timeMin": "={{ $json.preferred_date }}T00:00:00Z",
                    "timeMax": "={{ $json.preferred_date }}T23:59:59Z"
                }
            },
            "id": "6",
            "name": "Check Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                1360,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const existingEvents = $input.all();\nconst bookingData = $('Process Call Data').first().json;\n\nconst preferredDate = bookingData.preferred_date;\nconst preferredTime = bookingData.preferred_time;\nconst duration = bookingData.duration_minutes;\n\nif (!preferredTime) {\n  return { json: { ...bookingData, is_available: false, reason: 'No time specified' } };\n}\n\nconst preferredStart = new Date(preferredDate + 'T' + preferredTime + ':00Z');\nconst preferredEnd = new Date(preferredStart.getTime() + duration * 60000);\n\nlet isAvailable = true;\nlet conflictEvent = null;\n\nfor (const event of existingEvents) {\n  const e = event.json;\n  if (e.start && e.end) {\n    const eventStart = new Date(e.start.dateTime || e.start.date + 'T00:00:00Z');\n    const eventEnd = new Date(e.end.dateTime || e.end.date + 'T23:59:59Z');\n    if (preferredStart < eventEnd && preferredEnd > eventStart) {\n      isAvailable = false;\n      conflictEvent = e.summary;\n      break;\n    }\n  }\n}\n\nreturn { json: { ...bookingData, is_available: isAvailable, conflict_with: conflictEvent } };"
            },
            "id": "7",
            "name": "Verify Slot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1580,
                100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.is_available }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "8",
            "name": "Slot Available",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1800,
                100
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "calendar": "primary",
                "summary": "=Dental {{ $json.appointment_type }} - {{ $json.patient_name }}",
                "start": "={{ $json.preferred_date }}T{{ $json.preferred_time }}:00",
                "end": "={{ $json.preferred_date }}T{{ $json.end_time }}:00",
                "additionalFields": {
                    "description": "Patient: {{ $json.patient_name }}\nPhone: {{ $json.phone_number_formatted }}\nService: {{ $json.appointment_type }}\nDuration: {{ $json.duration_minutes }} min\nUrgency: {{ $json.urgency }}\nSymptoms: {{ $json.symptoms }}\n\nRef: {{ $json.booking_reference }}\nSource: VAPI Voice AI",
                    "location": "Dr. Ahmed Dental Care, Main Boulevard, Gulberg III, Lahore"
                }
            },
            "id": "9",
            "name": "Create Appointment",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                2020,
                0
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "YOUR_GOOGLE_SHEET_ID",
                "range": "Appointments!A:N",
                "options": {},
                "columns": "Booking Ref, Date, Time, Patient Name, Phone, Service, Duration, Urgency, Symptoms, Status, Call ID, Recording, Created At, Calendar Event",
                "valueInputMode": "RAW",
                "dataMode": "defineBelow",
                "values": {
                    "values": [
                        {
                            "column": "Booking Ref",
                            "value": "={{ $('Verify Slot').first().json.booking_reference }}"
                        },
                        {
                            "column": "Date",
                            "value": "={{ $('Verify Slot').first().json.preferred_date }}"
                        },
                        {
                            "column": "Time",
                            "value": "={{ $('Verify Slot').first().json.preferred_time }}"
                        },
                        {
                            "column": "Patient Name",
                            "value": "={{ $('Verify Slot').first().json.patient_name }}"
                        },
                        {
                            "column": "Phone",
                            "value": "={{ $('Verify Slot').first().json.phone_number_formatted }}"
                        },
                        {
                            "column": "Service",
                            "value": "={{ $('Verify Slot').first().json.appointment_type }}"
                        },
                        {
                            "column": "Duration",
                            "value": "={{ $('Verify Slot').first().json.duration_minutes }}"
                        },
                        {
                            "column": "Urgency",
                            "value": "={{ $('Verify Slot').first().json.urgency }}"
                        },
                        {
                            "column": "Symptoms",
                            "value": "={{ $('Verify Slot').first().json.symptoms }}"
                        },
                        {
                            "column": "Status",
                            "value": "Confirmed"
                        },
                        {
                            "column": "Call ID",
                            "value": "={{ $('Verify Slot').first().json.call_id }}"
                        },
                        {
                            "column": "Recording",
                            "value": "={{ $('Verify Slot').first().json.recording_url }}"
                        },
                        {
                            "column": "Created At",
                            "value": "={{ $('Verify Slot').first().json.created_at }}"
                        },
                        {
                            "column": "Calendar Event",
                            "value": "={{ $json.id }}"
                        }
                    ]
                }
            },
            "id": "10",
            "name": "Save to Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                2240,
                0
            ]
        },
        {
            "parameters": {
                "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
                "recipientPhoneNumber": "={{ $('Verify Slot').first().json.phone_number }}",
                "textBody": "=🦷 *Dr. Ahmed Dental Care*\n━━━━━━━━━━━━━━━━━━\n\nAssalam o Alaikum *{{ $('Verify Slot').first().json.patient_name }}*! 🌟\n\n✅ *APPOINTMENT CONFIRMED!*\n\n📅 *Date:* {{ $('Verify Slot').first().json.preferred_date }}\n⏰ *Time:* {{ $('Verify Slot').first().json.preferred_time }}\n🦷 *Service:* {{ $('Verify Slot').first().json.appointment_type }}\n⏱️ *Duration:* {{ $('Verify Slot').first().json.duration_minutes }} mins\n\n📌 *Ref:* {{ $('Verify Slot').first().json.booking_reference }}\n\n━━━━━━━━━━━━━━━━━━\n📍 *Location:*\nMain Boulevard, Gulberg III, Lahore\n\n📞 *Clinic:* 042-35761234\n\n━━━━━━━━━━━━━━━━━━\n⚠️ 15 min pehle aa jayein\n💳 Cash/Card dono accepted\n🅿️ Free parking available\n━━━━━━━━━━━━━━━━━━\n\nShukriya! 🙏"
            },
            "id": "11",
            "name": "WhatsApp to Patient",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                2460,
                0
            ]
        },
        {
            "parameters": {
                "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
                "recipientPhoneNumber": "STAFF_WHATSAPP_NUMBER",
                "textBody": "=🔔 *NEW APPOINTMENT BOOKED!*\n━━━━━━━━━━━━━━━━━━\n\n👤 *Patient:* {{ $('Verify Slot').first().json.patient_name }}\n📞 *Phone:* {{ $('Verify Slot').first().json.phone_number_formatted }}\n\n📅 *Date:* {{ $('Verify Slot').first().json.preferred_date }}\n⏰ *Time:* {{ $('Verify Slot').first().json.preferred_time }}\n\n🦷 *Service:* {{ $('Verify Slot').first().json.appointment_type }}\n⏱️ *Duration:* {{ $('Verify Slot').first().json.duration_minutes }} min\n🚨 *Urgency:* {{ $('Verify Slot').first().json.urgency }}\n\n📝 *Symptoms:* {{ $('Verify Slot').first().json.symptoms || 'Not mentioned' }}\n\n━━━━━━━━━━━━━━━━━━\n📌 *Ref:* {{ $('Verify Slot').first().json.booking_reference }}\n🎙️ *Via:* Voice AI Call"
            },
            "id": "12",
            "name": "WhatsApp to Staff",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                2680,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"action\": \"appointment_booked\",\n  \"booking_reference\": \"{{ $('Verify Slot').first().json.booking_reference }}\"\n}",
                "options": {}
            },
            "id": "13",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2900,
                0
            ]
        },
        {
            "parameters": {
                "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
                "recipientPhoneNumber": "={{ $('Verify Slot').first().json.phone_number }}",
                "textBody": "=🦷 *Dr. Ahmed Dental Care*\n━━━━━━━━━━━━━━━━━━\n\nAssalam o Alaikum!\n\n⚠️ Sorry, *{{ $('Verify Slot').first().json.preferred_time }}* ka slot available nahi hai.\n\n🕐 *Available Times:*\n• 09:00 AM\n• 11:00 AM\n• 02:00 PM\n• 04:00 PM\n• 06:00 PM\n\nPlease reply karein apni preferred time ke saath ya call karein:\n📞 042-35761234\n\nShukriya! 🙏"
            },
            "id": "14",
            "name": "WhatsApp Slot Unavailable",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                2020,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"action\": \"slot_unavailable\",\n  \"message\": \"Patient notified via WhatsApp\"\n}",
                "options": {}
            },
            "id": "15",
            "name": "Unavailable Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2240,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"action\": \"incomplete_data\",\n  \"message\": \"Call logged but no booking made\"\n}",
                "options": {}
            },
            "id": "16",
            "name": "No Booking Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1360,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": true,\n  \"action\": \"event_received\"\n}",
                "options": {}
            },
            "id": "17",
            "name": "Other Event Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                920,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $('Verify Slot').first().json.urgency }}",
                            "value2": "emergency",
                            "operation": "equals"
                        }
                    ]
                }
            },
            "id": "18",
            "name": "Is Emergency",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2680,
                -200
            ]
        },
        {
            "parameters": {
                "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
                "recipientPhoneNumber": "DOCTOR_WHATSAPP_NUMBER",
                "textBody": "=🚨🚨 *EMERGENCY DENTAL CASE!* 🚨🚨\n━━━━━━━━━━━━━━━━━━\n\n👤 *Patient:* {{ $('Verify Slot').first().json.patient_name }}\n📞 *Phone:* {{ $('Verify Slot').first().json.phone_number_formatted }}\n\n📅 *Date:* {{ $('Verify Slot').first().json.preferred_date }}\n⏰ *Time:* {{ $('Verify Slot').first().json.preferred_time }}\n\n📝 *SYMPTOMS:*\n{{ $('Verify Slot').first().json.symptoms }}\n\n⚠️ *IMMEDIATE ATTENTION REQUIRED!*\n\n━━━━━━━━━━━━━━━━━━\n📌 *Ref:* {{ $('Verify Slot').first().json.booking_reference }}"
            },
            "id": "19",
            "name": "WhatsApp Emergency to Doctor",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                2900,
                -200
            ]
        }
    ],
    "connections": {
        "VAPI Call Webhook": {
            "main": [
                [
                    {
                        "node": "Identify Event Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Identify Event Type": {
            "main": [
                [
                    {
                        "node": "Is Call Ended",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Call Ended": {
            "main": [
                [
                    {
                        "node": "Process Call Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Other Event Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Call Data": {
            "main": [
                [
                    {
                        "node": "Valid Booking Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid Booking Data": {
            "main": [
                [
                    {
                        "node": "Check Calendar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Booking Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Calendar": {
            "main": [
                [
                    {
                        "node": "Verify Slot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verify Slot": {
            "main": [
                [
                    {
                        "node": "Slot Available",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Slot Available": {
            "main": [
                [
                    {
                        "node": "Create Appointment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "WhatsApp Slot Unavailable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Appointment": {
            "main": [
                [
                    {
                        "node": "Save to Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Sheet": {
            "main": [
                [
                    {
                        "node": "WhatsApp to Patient",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Is Emergency",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp to Patient": {
            "main": [
                [
                    {
                        "node": "WhatsApp to Staff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp to Staff": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp Slot Unavailable": {
            "main": [
                [
                    {
                        "node": "Unavailable Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Emergency": {
            "main": [
                [
                    {
                        "node": "WhatsApp Emergency to Doctor",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "2",
    "id": "dentist-whatsapp-agent"
}